##
## Not currently in use, for future use.
##

##
# Radio Module Settings
##

# Enable/disable Radio Module
RADIO_MODULE="1"

##
# YouTube Module Settings
##

# Enable/disable YouTube Module
YOUTUBE_MODULE="0"

##
# Advertisement Module Settings
##

# Enable/disable Advertisement Module
AD_MODULE="1"

# Maximums for Advertisement Module
AD_MAX_SONGS="5"
AD_MAX_TIME="300"

